// Custom SASS Mixins

// Get color by key
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}

// Get heading tags
@mixin headings($from: 1, $to: 6) {
    @for $i from $from through $to {
        h#{$i} {
            @content
        }
    }
}

// Get body text tags
@mixin body-text() {
    &,
    p,
    a,
    ul,
    ol,
    li {
        @content
    }
}

// Get input tags
@mixin input-tags() {
    input,
    textarea,
    select {
        @content
    }
}

// String Replace
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}
