// Typography styles

// Unstyled list
.list-unstyled {
    margin-bottom: 0;

    li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

// List Icons
.list-icons {
    @extend .list-unstyled;

    .list-icons__single {
        display: block;
        position: relative;
        padding-left: 1.75rem;
        font-size: 1rem;

        &::before {
            @extend .bg-img;

            content: '';
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px;
            background-color: color('black');
            background-size: 60%;
        }

        @each $icon in $list-icons {
            &--#{$icon} {
                &::before {
                    background-image: url('/themes/mea/images/icons/#{$icon}-white.svg');
                }
            }
        }
    }
}
