// Utility classes

// Helper to stretch background images on elements
.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// BG overlay element styles
.bg-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left :0;
    right: 0;

    @each $name, $color in $colors {
        &--#{$name} {
            background-color: rgba($color, 0.5);
        }
    }
}
@each $name, $color in $colors {
    .bg-color--#{$name} {
        background-color: $color;
    }
}

// Full-width Images
.img-full-width {
    @extend .img-fluid;

    width: 100%;
}

// Truncate text from overflowing out of element
.text-overflow-trunc {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
