// Colors
$colors: (
    'white': #ffffff,
    'black': #000000,
    'cloud': #f2f2f2,
    'grey': #4a4a4a,
    'grey-light': #979797,
    'grey-lighter': #e7e7e7,
    'orange': #e67e22,
    'blue': #3498db,
    'green': #00594c,
    'red': #e74c3c,
    'red-lighter': #f6cdd1,
    'purple': #9b59b6,
    'pink': #ea1c75,
    'yellow': #f5a623,
);

// Icons
$list-icons: (
    'email',
    'phone',
    'website',
);

// Bootstrap color overrides
$primary-color: color('blue');
$body-color: color('grey');
$link-color: $primary-color;
$nav-link-color: color('black');
$navbar-light-color: color('black');
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$primary-color}' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$input-focus-border-color: lighten($primary-color, 15%);

$btn-border-radius: 0;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

$input-border-radius: 0;
$input-border-radius-sm: $input-border-radius;
$input-border-radius-lg: $input-border-radius;
$input-border-color: color('grey-lighter');
$input-focus-border-color: lighten($primary-color, 15%);

$pagination-hover-color: color('white');
$pagination-hover-bg: $primary-color;
$pagination-hover-border-color: $primary-color;
$pagination-active-bg: $primary-color;
$pagination-active-border-color: $primary-color;

// Fonts
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif: 'Open Sans', $base-font;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Open Sans', $font-family-sans-serif;
