// Security Page general styles
.Security {
    .content__wrapper {
        max-width: 480px;
        margin: 0 auto;
        padding: 2rem 1rem 1rem;
    }

    .content__main {
        margin-bottom: 1.5rem;
    }

    .content__form {
        .content__form-footer {
            margin-top: 1rem;
            text-align: center;
        }

        .btn-toolbar {
            flex-direction: column;

            input[type="submit"] {
                @extend .btn;
                @extend .btn-primary;

                order: 0;
                max-width: 100%;
            }
        }
    }
}
