// Login Form styles
#MemberLoginForm_LoginForm {
    margin: 2rem auto;
    max-width: 480px;

    > fieldset {
        .form-group {
            margin-bottom: 1rem;
        }
    }

    #Remember {
        margin-bottom: 1rem;
        text-align: center;
    }

    #ForgotPassword {
        order: 1;
        max-width: 100%;
        margin-top: 1rem;
        text-align: center;
    }
}
