// Button
.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn-success {
    color: color('white');
    background-color: $primary-color;

    &:hover,
    &:focus,
    &:active {
        border-color: lighten($primary-color, 6%);
        background-color: lighten($primary-color, 6%);
    }
}

@each $name, $color in $colors {
    .btn-#{$name} {
        display: inline-block;
        border-width: 2px;
        box-sizing: border-box;
        background-color: $color;
        font-family: $font-family-base;
        font-weight: 700;

        @if $name == 'white' {
            color: color('pink');
        } @else {
            color: color('white');
        }

        &.btn--outline {
            border-color: $color;
            color: $color;
            background-color: transparent;
        }

        &,
        &.btn--outline {
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;

                @if $name == 'white' {
                    color: color('pink');
                    background-color: darken($color, 6%);
                    border-color: darken($color, 6%)
                } @else {
                    color: color('white');
                    background-color: lighten($color, 6%);
                    border-color: lighten($color, 6%)
                }
            }
        }
    }
}
