// Form components
form,
.userform {
    margin: 0 auto;
    max-width: 800px;

    .FormHeading {
        @extend .text-center;

        margin-bottom: 2rem;
    }

    .message {
        display: block;
        margin-top: 0;
        border-radius: 2px;
        padding: 2px 10px;
        color: color('black');
        background-color: color('cloud');
        text-align: center;

        &.error,
        &.bad {
            color: color('white');
            background-color: color('red');
        }

        &.success,
        &.good {
            color: color('white');
            background-color: color('green');
        }
    }

    .Actions {
        @extend .d-flex;
        @extend .justify-content-between;

        .action,
        > input {
            @extend .btn;
            @extend .btn-light;
            cursor: pointer;
        }

        input[type="submit"],
        input[type="reset"],
        input[type="button"] {
            max-width: 200px;
        }

        input[type="submit"] {
            @extend .btn-success;

            order: 1;
            color: color('white');
            background-color: $primary-color;
            border-color: $primary-color;

            &:hover,
            &:focus,
            &:active {
                color: color('white');
                border-color: lighten($primary-color, 2%);
                background-color: lighten($primary-color, 2%);
            }
        }

        .resetformaction {
            order: 0;
        }

        #ForgotPassword {
            @extend .text-center;

            margin: 1rem 0 0;
            cursor: pointer;
        }
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .message {
            margin-top: 5px;
            text-align: left;
        }
    }

    .optionset {
        @extend .form-group;

        legend {
            @extend label;

            font-size: 1rem;
        }
    }
}
