// Form components
form,
.userform {
    label {
        color: color('grey');
        font-weight: bold;
    }

    @include input-tags() {
        @extend .form-control;

        background: transparent;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &.error {
            border-color: color('red');
        }
    }

    .form-check {
        input[type="radio"],
        input[type="checkbox"] {
            @extend .form-check-input;
        }

        .form-check-label,
        .form-check-input {
            font-weight: normal;
            cursor: pointer;
        }
    }
}
