// Footer styles
.footer {
    @extend .py-3;
    @extend .text-center;
    @extend .bg-light;

    .footer__wrapper {
        @extend .row;
        @extend .container;

        margin: 0 auto;
        padding: 0;
    }

    .footer__column {
        @extend .col-12;
        @extend .col-sm;

        &--left {
            @extend .text-sm-left;
        }

        &--right {
            @extend .text-sm-right;
        }
    }
}
