// Header styles
.header {
    .nav-item {
        .dropdown-item {
            &,
            &:hover,
            &:focus,
            &:active {
                font-family: $font-family-base;
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
    }
}
